In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# ! pip install -i https://test.pypi.org/simple/ my-krml-24618288==2024.0.1.1
! pip install -i https://test.pypi.org/simple/ my-krml-24618288==2024.0.2.1

Looking in indexes: https://test.pypi.org/simple/
Collecting my-krml-24618288==2024.0.2.1
  Downloading https://test-files.pythonhosted.org/packages/d2/f9/043cce33cce74eae784da354c3775d00ca857976314004ee372932178621/my_krml_24618288-2024.0.2.1-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: pandas==2.2.2 in c:\users\jv\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-2-wdnfakb7-py3.11\lib\site-packages (from my-krml-24618288==2024.0.2.1) (2.2.2)
Requirement already satisfied: scikit-learn==1.5.1 in c:\users\jv\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-2-wdnfakb7-py3.11\lib\site-packages (from my-krml-24618288==2024.0.2.1) (1.5.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\jv\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-2-wdnfakb7-py3.11\lib\site-packages (from pandas==2.2.2->my-krml-24618288==2024.0.2.1) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jv\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-2-wdnfakb7-py3.11\lib\site-packages (from pandas==2.2.2->my-krml-24618288==2024.0.2.1) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jv\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-2-wdnfakb7-py3.11\lib\site-packages (from pandas==2.2.2->my-krml-24618288==2024.0.2.1) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jv\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-2-wdnfakb7-py3.11\lib\site-packages (from pandas==2.2.2->my-krml-24618288==2024.0.2.1) (2024.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\jv\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-2-wdnfakb7-py3.11\lib\site-packages (from scikit-learn==1.5.1->my-krml-24618288==2024.0.2.1) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\jv\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-2-wdnfakb7-py3.11\lib\site-packages (from scikit-learn==1.5.1->my-krml-24618288==2024.0.2.1) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\jv\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-2-wdnfakb7-py3.11\lib\site-packages (from scikit-learn==1.5.1->my-krml-24618288==2024.0.2.1) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\jv\appdata\local\pypoetry\cache\virtualenvs\adv-mla-lab-2-wdnfakb7-py3.11\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.2.2->my-krml-24618288==2024.0.2.1) (1.16.0)
Downloading https://test-files.pythonhosted.org/packages/d2/f9/043cce33cce74eae784da354c3775d00ca857976314004ee372932178621/my_krml_24618288-2024.0.2.1-py3-none-any.whl (4.6 kB)
Installing collected packages: my-krml-24618288
  Attempting uninstall: my-krml-24618288
    Found existing installation: my_krml_24618288 2024.0.2.0
    Uninstalling my_krml_24618288-2024.0.2.0:
      Successfully uninstalled my_krml_24618288-2024.0.2.0
Successfully installed my-krml-24618288-2024.0.2.1

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../data/raw/day.csv')

In [5]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [6]:
df.shape

(731, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [8]:
df.describe(include='all')

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
unique,NaN,731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2012-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,366.000000,NaN,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,NaN,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,NaN,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,NaN,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,NaN,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,NaN,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,NaN,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [9]:
df_cleaned = df.copy()

In [10]:
from my_krml_24618288.features.dates import convert_to_date

In [11]:
df_cleaned = convert_to_date(df_cleaned, ['dteday'])

In [12]:
prophet_df = df_cleaned[['dteday', 'cnt']]

In [13]:
prophet_df.columns = ['ds', 'y']

In [14]:
prophet_df.to_csv('../data/interim/day_prophet.csv', index=False)

In [15]:
# ! pip install -i https://test.pypi.org/simple/ my-krml-24618288==2024.0.2.0

In [16]:
from my_krml_24618288.data.sets import split_sets_by_time

X_train, y_train, X_val, y_val, X_test, y_test = split_sets_by_time(prophet_df, 'y', test_ratio=0.2)

In [18]:
from my_krml_24618288.data.sets import save_sets

In [19]:
save_sets(X_train, y_train, X_val, y_val, X_test, y_test, path='../data/processed/')

In [21]:
from my_krml_24618288.models.null import NullRegressor

In [22]:
base_model = NullRegressor()

In [23]:
y_base = base_model.fit_predict(y_train)

In [25]:
from my_krml_24618288.models.performance import print_regressor_scores

print_regressor_scores(y_preds=y_base, y_actuals=y_train, set_name='Training')

RMSE Training: 1324.7868420297616
MAE Training: 1132.7364532147508

In [26]:
print_regressor_scores(y_preds=base_model.predict(y_val), y_actuals=y_val, set_name='Validation')

RMSE Validation: 3110.722951659261
MAE Validation: 2951.6668330889006

In [27]:
print_regressor_scores(y_preds=base_model.predict(y_test), y_actuals=y_test, set_name='Testing')

RMSE Testing: 3090.593123684775
MAE Testing: 2817.6229288232903